@page "/neighbour"
@layout MainLayout
<div class="row  px-5 py-2">
    <div class="col-2 background-blur b-rad-for-col border-for-inputs">
        <div class="col-12">
            <div class="navbar ">
                <RadzenDropDown @bind-value=SelectedCity Change="@OnChange" AllowVirtualization="true" Data="cities"
                    TextProperty="Name" ValueProperty="Id" Placeholder="İl Seçiniz" TValue="int?"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" AllowClear="true"
                    Style="width: 100%; max-width: 400px;" SearchTextChanged="@(args => searchTextChanged(args))" />
            </div>
            <div class="navbar ">
                <RadzenDropDown @bind-value=SelectedDistrict Disabled="!districts.Any()" Data="districts"
                    TextProperty="Name" ValueProperty="Id" Placeholder="İlçe Seçiniz" TValue="int?"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    FilterOperator="StringFilterOperator.StartsWith" AllowFiltering="true" AllowClear="true"
                    Style="width: 100%; max-width: 400px;" SearchTextChanged="@(args => searchTextChanged(args))" />
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <button @onclick="GetFilteredItems" class="btn btn-border my-4 ">Listele</button>
            </div>
        </div>
    </div>
    <div class="col-10">
        <div class="col-12 b-rad-for-col background-blur p-3 h-25 border-for-inputs">
            <button class="btn btn-success mb-3">Yeni Kayıt</button>
            <div>
                <form>
                    <label class="d-flex justify-content-center mb-3">Yeni Kayıt Ekleme Alanı</label>
                    <input class="d-block w-100 b-rad-for-label bg-light border-for-inputs" type="text">
                </form>
            </div>
        </div>
        <div class="col-12 mt-2 b-rad-for-col background-blur p-3 h-75 border-for-inputs">
            <div>
                <form>
                    <label class="d-flex justify-content-center mb-3">Filtrelenen Kayıtların Listesi</label>
                    <RadzenDataGrid @ref="itemsGrid" AllowAlternatingRows="false" AllowPaging="true" PageSize="5"
                        AllowSorting="true" EditMode="DataGridEditMode.Single" Data="@neighbourhoods"
                        TItem="Neighbourhoods" RowUpdate="@OnUpdateRow" ColumnWidth="200px">
                        <EmptyTemplate>
                            <p style="color: lightgrey; font-size: 24px; text-align: center; margin: 2rem;">Gösterilecek
                                öğe bulunamadı</p>
                        </EmptyTemplate>
                        <Columns>
                            <RadzenDataGridColumn TItem="Neighbourhoods" Property="Name" Title="Mahalle Adı"
                                Width="200px">
                                <EditTemplate Context="neighbour">
                                    <RadzenTextBox @bind-Value="neighbour.Name" Style="width:100%; display: block" Name="Maale Adı" />
                                </EditTemplate>
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn Context="neighbourhoods" TItem="Neighbourhoods" Filterable="false" Sortable="false"
                                TextAlign="TextAlign.Right" Width="156px">
                                <Template>
                                    <RadzenButton Click="@(args => EditRow(neighbourhoods))" Icon="edit"
                                        ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Medium">
                                    </RadzenButton>
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                                        Shade="Shade.Lighter" Size="ButtonSize.Medium" Click="@(args => DeleteRow(neighbourhoods))" class="my-1 ms-1">
                                    </RadzenButton>
                                </Template>
                                <EditTemplate Context="neighbourhoods">
                                    <RadzenButton  Icon="check" ButtonStyle="ButtonStyle.Success" Variant="Variant.Flat" Click="@((args) => SaveRow(neighbourhoods))"
                                        Size="ButtonSize.Medium">
                                    </RadzenButton>
                                    <RadzenButton Icon="close" Click="@((args) => CancelEdit(neighbourhoods))" ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat"
                                        Size="ButtonSize.Medium" class="my-1 ms-1">
                                    </RadzenButton>
                                    <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="delete" Variant="Variant.Flat"
                                        Shade="Shade.Lighter" Size="ButtonSize.Medium" Click="@(args => DeleteRow(neighbourhoods))" class="my-1 ms-1">
                                    </RadzenButton>
                                </EditTemplate>
                            </RadzenDataGridColumn>
                        </Columns>
                    </RadzenDataGrid>
                    @JsonConvert.SerializeObject(neighbourhoods)
                </form>
            </div>
        </div>
    </div>
</div>
@code {
    Neighbourhoods itemToInsert;
    Neighbourhoods itemToUpdate;
    RadzenDataGrid<Neighbourhoods> itemsGrid;
    List<Neighbourhoods> neighbourhoods = new List<Neighbourhoods>();
    int? SelectedCity;
    int? SelectedDistrict;
    List<Cities> cities = Cities.CityList;
    List<Districts> districts = new List<Districts>();
    public string searchTextStatus;
    void searchTextChanged(string text)
    {
        searchTextStatus = $"Search text: {text}";
        StateHasChanged();
    }
    public void OnChange(object cityId)
    {
        if (cityId is not null)
        {
            districts = Districts.DistrictList.Where(p => p.IlId == (int)cityId).ToList();
            return;
        }
        districts = new List<Districts>();
    }
    public void GetFilteredItems()
    {
        if (SelectedCity is not null && SelectedDistrict is not null)
        {
            neighbourhoods = Neighbourhoods.NeighbourhoodsList.Where(p => p.IlId == SelectedCity && p.IlceId ==
            SelectedDistrict).ToList();
        }
    }
    void Reset()
    {
        itemToInsert = null;
        itemToUpdate = null;
    }
    async Task EditRow(Neighbourhoods order)
    {
        itemToUpdate = order;
        await itemsGrid.EditRow(order);
    }
    void OnUpdateRow(Neighbourhoods order)
    {
        if (order == itemToInsert)
        {
            itemsGrid = null;
        }
        itemToUpdate = null;
        Neighbourhoods.UpdateName(order);

    }

    async Task SaveRow(Neighbourhoods order)
    {
        await itemsGrid.UpdateRow(order);
    }
    void CancelEdit(Neighbourhoods order)
{
if (order == itemToInsert)
{
itemToInsert = null;
}
itemToUpdate = null;
itemsGrid.CancelEditRow(order);
}
    async Task DeleteRow(Neighbourhoods order)
{
if (order == itemToInsert)
{
itemToInsert = null;
}

if (order == itemToUpdate)
{
itemToUpdate = null;
}
if (neighbourhoods.Contains(order))
{
Neighbourhoods.DeleteNeighbour(order);
await itemsGrid.Reload();
}
else
{
itemsGrid.CancelEditRow(order);
await itemsGrid.Reload();
}
GetFilteredItems();
}

}